.contact-contents {
    /* height: 395px; */
    height: 100vh;
    /* background-color: rgb(145, 161, 230); */
    padding: 9px;
    border-radius: 20px;
    display: block;
    /* display: flex; */
    /* display flex se left aur right content ek mein aa jayenge */
    /* border-radius: 20px; */
    position: relative;
    height: 80vh;
    margin: 20px;
    /* scroll bar ko hatane ke liye */
    overflow: hidden;

}

.contact-contents::after {

    /* content iske baad add hoga */
    content: "";
    background-image: url("https://th.bing.com/th/id/OIP.Ci-cbcEYL7q9NS14AXhsnAHaE2?pid=ImgDet&rs=1");
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 20px;
    z-index: -1;


}

/* .contact-form {} */